#CC_MinimapUnitIcon {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.IsSelf {
        background-image: url("file://{images}/textures/minimap_hero_self.png");
    }
}
