.CCNotifyDialog {
    align: center center;

    #PopUpBg {
        width: 452px;
        height: 288px;

        #Msg {
            align: center center;
            margin: 16px;
            font-size: 20px;
            color: #FFF;
        }



    }
}