.CCWaitProgressDialog {
    align: center center;

    #PopUpBg {
        width: 452px;
        height: 288px;

        .Pleasewait {
            align: center center;
            margin: 8px;
            min-width: 200px;
            min-height: 200px;
            flow-children: down;

            #waitMsg {
                horizontal-align: center;
                font-size: 18px;
                color: #FFF;
            }

            @keyframes RequestAnimation {
                0% {
                    transform: rotateZ(0deg);
                }

                100% {
                    transform: rotateZ(180deg);
                }
            }

            #refresh {
                width: 36px;
                height: 36px;
                align: center center;
                background-image: url("file://{images}/control_icons/refresh.png");
                background-size: 100%;
                background-repeat: no-repeat;
                animation-name: RequestAnimation;
                animation-duration: 0.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: reverse;
            }
        }

        #Msg {
            align: center center;
            margin: 16px;
            font-size: 20px;
            color: #FFF;
        }



    }
}