.CC_Icon {
    width: 100%;
    height: width-percentage(100%);
    transition-property: pre-transform-rotate2d;
    transition-duration: 0.2s;

    &.CC_IconSpin {
        animation-name: SpinnerRotate;
        animation-duration: 2.0s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &.CC_IconShadow {
        img-shadow: 0px 0px 3px 3 black;
    }

    &.Mirror {
        transform: rotateY(180deg);
    }
}
