#CC_BuildingTopBarItem {
    flow-children: down;


    #nameBg {
        width: 200px;
        height: 50px;
        flow-children: right;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        #unitprop {
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}