#CC_BuildingTopBarItem {
    flow-children: down;

    #UnitNameBg {
        width: 100%;
        height: 30px;
        flow-children: right;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        #unitprop {
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}