#CC_AbilityIcon {
    #img_AbilityIcon {
        &.A {
            background-image: url("file://{images}/common/rarity/frame_A.png");
        }

        &.B {
            background-image: url("file://{images}/common/rarity/frame_B.png");
        }

        &.C {
            background-image: url("file://{images}/common/rarity/frame_C.png");
        }

        &.D {
            background-image: url("file://{images}/common/rarity/frame_D.png");
        }

        &.S {
            background-image: url("file://{images}/common/rarity/frame_S.png");
        }

        &.SS {
            background-image: url("file://{images}/common/rarity/frame_SS.png");
        }

    }
}
