#CC_AbilityIcon {

    .DOTAAbilityImage,
    DOTAAbilityImage {
        width: 64px;
        height: 64px;
    }

    #img_AbilityIcon {
        width: 64px;
        height: width-percentage(100%);
        background-repeat: no-repeat;
        background-size: 100%;

        &.A {
            background-image: url("file://{images}/common/rarity/frame_A.png");
        }

        &.B {
            background-image: url("file://{images}/common/rarity/frame_B.png");
        }

        &.C {
            background-image: url("file://{images}/common/rarity/frame_C.png");
        }

        &.D {
            background-image: url("file://{images}/common/rarity/frame_D.png");
        }

        &.S {
            background-image: url("file://{images}/common/rarity/frame_S.png");
        }

        &.SS {
            background-image: url("file://{images}/common/rarity/frame_SS.png");
        }

    }
}