#CC_CombinationBottomPanel {
    .SectImage {
        width: 54px;
        height: 54px;
        // margin: 10px 4px 10px 10px;
        // border: 1px solid white;
        // border-radius: 2px;
        // border-brush: gradient(linear, 0% 0%, 0% 100%, from(#a09a72), to(#755417));
    }

    .SectDes {
        #SectNameHeader {
            font-size: 18px;
            color: white;
            text-shadow: 0px 0px 3px 3.0 #000000;
            // margin-top: ;
            // vertical-align: center;
            // margin-left: 10px;
        }

        #SectNameDescription {
            font-size: 16px;
            // height: 18px;
            // color: white;
            margin-top: 6px;
            width: 304px;
            vertical-align: bottom;
            text-overflow: noclip;

            &.GameplayVariable {
                font-weight: semibold;
                color: #e1e1e1;
            }

            .GameplayValues {
                color: #4d5560;
            }

            .GameplayValues.GameplayVariable {
                color: #e1e1e1;
            }
        }

    }

    #LoreContainer {
        width: 100%;
        padding: 5px 10px 5px 10px;
        background-color: #0c1316;
        border-radius: 2px;
        margin: 4px;

        Label {
            font-size: 14px;
            color: #3d4e5b;
            font-style: italic;
        }
    }
}
