#CC_CombinationSingleBottomItem {

    #CombinationIcon {
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .ImgTag {
        height: 12px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("file://{images}/combination/exp_bar_0.png");

        &.IsActive {
            background-image: url("file://{images}/combination/exp_bar_1.png");

        }

    }
}