.CCCombinationInfoDialog {

    .CombinationShowPanelBg {
        padding: 10px;
        background-color: gradient(linear, 0% 0%, 0% 25%, from(#232326), to(#1c1d20));
        box-shadow: #00000099 0px 0px 8px 0px;
        border: 2px solid #32383677;
    }

    #SectIcon {
        width: 54px;
        height: 54px;
        // margin: 10px 4px 10px 10px;
        // border: 1px solid white;
        // border-radius: 2px;
        // border-brush: gradient(linear, 0% 0%, 0% 100%, from(#a09a72), to(#755417));
    }

    .SectDes {
        brightness: 1;

        &.Disable {
            brightness: 0.5;
        }

        #SectNameHeader {
            font-size: 18px;
            color: white;
            text-shadow: 0px 0px 3px 3.0 #000000;
            // margin-top: ;
            // vertical-align: center;
            // margin-left: 10px;
        }

        #SectNameHeaderDes {
            font-size: 16px;
            width: 100%;
        }

        #SectNameDescription {
            font-size: 16px;
            // height: 18px;
            // color: white;
            margin-top: 6px;
            width: 304px;
            vertical-align: bottom;
            text-overflow: noclip;

            &.GameplayVariable {
                font-weight: semibold;
                color: #e1e1e1;
            }

            .GameplayValues {
                color: #4d5560;
            }

            .GameplayValues.GameplayVariable {
                color: #e1e1e1;
            }
        }

    }

    #ECombContainer {
        width: 100%;
        background-color: #0c1316;

        .InfoContent {
            margin-top: 5px;
            width: 100%;
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100%;
            background-color: gradient(linear, 0% 0%, 90% 0%, from(#3b3b3b), to(#111111));
            // background-image: url("s2r://panorama/images/hud/item_tooltip_passive_psd.vtex");

            &.Active {
                // background-image: url("s2r://panorama/images/hud/item_tooltip_active_psd.vtex");
                background-color: gradient(linear, 0% 0%, 90% 0%, from(#3c29e7), to(#111111));
            }
        }

        .InfoHeader {
            font-size: 20px;
            padding-top: 4px;
            padding-left: 5px;
            height: 30px;
            width: 30px;
            vertical-align: center;
            brightness: 0.5;

            &.Active {
                brightness: 1.2;
            }
        }

        .InfoDes {
            font-size: 16px;
            color: #cccccc;
            text-overflow: shrink;
            margin-top: 5px;
            brightness: 0.5;

            &.Active {
                brightness: 1.2;
            }
        }
    }


    #LoreContainer {
        width: 100%;
        padding: 5px 10px 5px 10px;
        background-color: #0c1316;
        border-radius: 2px;
        margin: 4px;

        Label {
            font-size: 14px;
            color: #3d4e5b;
            font-style: italic;
        }
    }


}