.CCPortrait {
    width: 100%;
    height: 100%;

    &.IsNotAlive {
        saturation: 0.0;
    }

    &.CCEconScalePortrait {
        width: 100%;
        height: 100%;
        // align: center top;
        // margin-top: -10px;
    }

    .CCEconPortrait {
        width: 100%;
        height: 100%;
        align: center center;
    }


    .PortraitLocation {
        width: 100%;
        height: 100%;
    }
}