.CC_PayQrcode {
    margin: 8px;

    .logo {
        width: 52px;
        height: width-percentage(100%);
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        align: center center;
    }
}
