.CCHandBookCourier {
    width: 100%;
    height: 100%;
    flow-children: right;

    #HandBookCourierLeft {
        .PlayerCourierCard {
            border: 1px solid #62758B;

            &.Locked {
                brightness: 0.5;
            }

            &.Selected {
                border-color: #54EDFF;
            }
        }

    }

    #HandBookCourierRight {
        background-color: #0000004d;
        border: 1px solid #62758B;

        .CourierProgressBar {
            width: 200px;
            height: 20px;
            border: 1px solid #ffffff;
        }

    }
}