#CC_DacBoardPanel {
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 0px;
    width: fit-children;
    height: 200px;

    .DacBoardBG {
        width: 100%;
        height: 72%;
        background-size: 100%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        margin-bottom: 0px;
        vertical-align: bottom;

        &.Tui3 {
            background-image: url("file://{images}/custom_game/hud/action_panel_left_bg.png"),
            url("file://{images}/custom_game/hud/action_panel_right_bg.png"),
            url("file://{images}/custom_game/hud/action_panel_center_bg.png");
            background-size: 10px 100%, 10px 100%, 100% 100%;
            background-position: left top, right top, 50% 50%;
            overflow: noclip;
        }

    }

    #DacBoardDiv {
        width: fit-children;
        height: 100%;
        flow-children: right;

        #DacBoardLeft {
            height: 100%;

            #xp {
                align: left bottom;
            }
        }

        #DacBoardCenter {
            height: 100%;
        }

        #DacBoardRight {
            height: 100%;
        }
    }

}
