.CCHealthExp {
    width: 100%;
    height: 60px;
    flow-children: down;


    #HealthProgress {
        width: 100%;
        height: 26px;

        // border-radius: 0px;
        // border-width: 1px;
        // border-top-width: 0px;
        // background-color: #000000ff;
        // box-shadow: #00000066 0px 0px 2px 0px;



        #HealthProgress_Label {
            align: center center;
            color: white;
            text-shadow: 0px 0px 3px 3 #000000;
            font-size: 16px;
        }

        #HealthProgressRegen_Label {
            align: right center;
            color: white;
            text-shadow: 0px 0px 3px 3 #000000;
            font-size: 16px;
        }
    }

    #ExpProgress {
        width: 100%;
        height: 26px;

        // border-radius: 0px;
        // border-width: 1px;
        // border-top-width: 0px;
        // background-color: #000000ff;
        // box-shadow: #00000066 0px 0px 2px 0px;
        #ExpProgress_Label {
            align: center center;
            color: white;
            text-shadow: 0px 0px 3px 3 #000000;
            font-size: 16px;
        }

        #ExpProgressRegen_Label {
            align: right center;
            color: white;
            text-shadow: 0px 0px 3px 3 #000000;
            font-size: 16px;
        }
    }

}