.CCItemLockStars {

    align: center bottom;
    margin-bottom: 4px;
    flow-children: right;

    .ItemLockStar {
        width: 10px;
        height: 10px;
        background-image: url("file://{images}/custom_game/eom_design/icon/tui7/unlockstar.png");
        background-size: 100%;
        background-repeat: no-repeat;
        img-shadow: 0px 0px 2px 2 #000000;
    }
}