.CCItemCombinesPanel {
    align: right bottom;
    margin-right: 300px;
    margin-bottom: 200px;

    .XCloseButton {
        horizontal-align: right;
    }

    .ItemInfoDiv {
        horizontal-align: center;
        flow-children: down;
        background-color: #0000004d;
        border: 1px solid #62758B;
        margin-right: 16px;
        padding: 8px;
    }

    .ItemInfo {
        width: 60px;
        height: 40px;
        horizontal-align: center;
    }

    .ItemInfoName {
        font-size: 16px;
        text-align: center;
        margin-top: 4px;
        horizontal-align: center;
    }
}