#InventoryRoot {
    height: 145px;
    width: 202px;
    vertical-align: center;
    overflow: noclip;

    #inventory_items {
        background-image: none;
        background-color: none;

        // .inventory_slot {
        //     background-image: url("file://{images}/custom_game/inventory/empty_item.png");
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat;
        // }

        #InventoryBG {
            background-image: none;
        }
    }
}