@import "../CC_Button/CC_Button.less";

.CC_IconButton {
    .CC_Button();
    // width: 32px;
    height: width-percentage(100%);
    // background-image: url("file://{images}/eom_design/icon/Tui7/btn_close.png");
    z-index: 1;

    transition-property: wash-color;
    transition-duration: 0.15s;
}
