.CCActivityGiftCommond {
    flow-children: right;
    width: 100%;
    height: 100%;


    #CDKContainer {
        margin-left: 16px;
        vertical-align: center;
        horizontal-align: center;
        flow-children: right;

        #CDKEntry {
            width: 200px;
            vertical-align: center;
            background-color: #231D1D;
            border-color: #4B3B38;
        }

    }

    .LastCDKEntry {
        width: 150px;
        vertical-align: center;
        background-color: #231D1D;
        border-color: #4B3B38;
    }

    .WeChatQrCode {
        width: 150px;
        height: 150px;
        margin-top: 20px;
        horizontal-align: center;
        background-image: url("file://{images}/custom_game/activity/wechat_qrcode.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}