.CCActivityTotalGainMetaStone {
    flow-children: right;
    width: 100%;
    height: 100%;
}

.CCActivityTotalGainMetaStoneItem {
    width: 240px;
    height: 350px;
    background-image: url("file://{images}/custom_game/activity/task_col_short_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;



    #ShopItemName {
        font-size: 30px;
    }

    #ShopItemNumBG {
        #ShopItemNum {
            font-size: 30px;
        }
    }


    &.IsLastItem {
        width: 260px;
        height: 450px;
        background-image: url("file://{images}/custom_game/activity/task_col_bg.png");
    }
}