.CCActivityMonthLogin {
    flow-children: right;
    width: 100%;
    height: 100%;


    #ShopItemName {
        font-size: 40px;
    }

    #ShopItemNumBG {
        #ShopItemNum {
            font-size: 40px;
        }
    }

    .TotalLoginItemBg {
        width: 200px;
        height: 400px;
        background-image: url("file://{images}/custom_game/activity/task_col_short_bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        flow-children: down;
        horizontal-align: center;

        #ShopItemName {
            font-size: 25px;
        }

        #ShopItemNumBG {
            #ShopItemNum {
                font-size: 25px;
            }
        }
    }
}

.CCActivityMonthLoginPrizeItem {
    width: 100px;
    height: 150px;
    background-image: url("file://{images}/custom_game/activity/task_col_short_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #62758B;

    #ShopItemName {
        font-size: 30px;
    }

    #ShopItemNumBG {
        #ShopItemNum {
            font-size: 30px;
        }
    }
}