.CCActivityGiftCommond {
    flow-children: right;
    width: 100%;
    height: 100%;


    #CDKContainer {
        margin-left: 16px;
        vertical-align: center;
        horizontal-align: center;
        flow-children: right;

        #CDKEntry {
            width: 200px;
            vertical-align: center;
            background-color: #231D1D;
            border-color: #4B3B38;
        }

    }
}