.CCActivitySevenDayLogin {
    flow-children: right;
    width: 100%;
    height: 100%;
}

.CCActivitySevenDayPrizeItem {
    width: 250px;
    height: 400px;
    background-image: url("file://{images}/custom_game/activity/task_col_short_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;


    & .SevenDay {
        height: 700px;
        background-image: url("file://{images}/custom_game/activity/task_col_bg.png");
    }
}