.CourierCard {
    width: 250px;
    height: 350px;

    background-image: url("file://{images}/custom_game/courier/courier_r_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.R {
        background-image: url("file://{images}/custom_game/courier/courier_r_bg.png");

        #CourierAbility {
            border-color: #4e91c6 #4c92c5 #266c9f #4c92c5;
        }
    }

    &.SR {
        background-image: url("file://{images}/custom_game/courier/courier_sr_bg.png");

        #CourierAbility {
            border-color: #9170f2 #8f6adc #755bb2 #8f6adc;
        }
    }

    &.SSR {
        background-image: url("file://{images}/custom_game/courier/courier_ssr_bg.png");

        #CourierAbility {
            border-color: #b69f5b #a08242 #886932 #a08242;
        }
    }

    #CourierName {
        align: center top;
        margin-top: 23px;
        width: 143px;
        // height: 21px;

        color: #ffffff;
        font-size: 18px;
        text-shadow: 0px 0px 3px 3 #000000;
        text-overflow: shrink;
        text-align: center;
    }

    #CourierScene {
        width: 90%;
        height: 90%;
        horizontal-align: center;
        margin-right: 2px;
    }

    #CourierAbility {
        align: right bottom;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 52px;
        height: width-percentage(100%);
        border: 2px solid transparent;
        box-shadow: 0px 0px 1px 1px #00000040;

        transition-property: opacity;
        transition-duration: 0.15s;
        transition-timing-function: ease-in-out;

        background-size: 100% 100%;
        background-repeat: no-repeat;

        opacity: 0.25;

        &:hover {
            box-shadow: 0px 0px 1px 1px #000000;
            opacity: 1;
        }
    }

    &.Preview {
        #CourierAbility {
            opacity: 1;
        }
    }
}
