.CC_MenuDashBoardBackAndSetting {

    flow-children: right;
    width: fit-children;
    height: fit-children;

    #CustomDashBoardButton {
        width: 32px;
        height: 32px;
        background-image: url("file://{images}/control_icons/return_to_game.png");
        background-repeat: no-repeat;
        background-size: contain;
        transform: scaleY(-1);
        wash-color: #444A55;
        margin-left: 14px;
        margin-top: 12px;

        &:hover {
            wash-color: #9999AA;
        }

    }

    #CustomSettingButton {
        width: 32px;
        height: 32px;
        background-image: url("file://{images}/control_icons/gear.png");
        background-repeat: no-repeat;
        background-size: 27px;
        background-position: 50% 50%;
        wash-color: #444A55;
        margin-left: 3px;
        margin-top: 13px;

        &:hover {
            wash-color: #9999AA;
        }

    }
}