// 普通文本
.CC_Label {
    font-size: 14px;
    color: #A7A18D;

    &.Level {
        font-size: 16px;
        color: white;
        background-color: #000000;
    }

    &.UnitName {
        font-size: 20px;
        color: white;
        text-shadow: 0px 0px 0px 2 #000000;
    }

    &.AbilityName {
        font-size: 18px;
        color: white;
        text-shadow: 0px 0px 0px 2 #000000;
    }

    &.ItemName {
        font-size: 18px;
        color: white;
        text-shadow: 0px 0px 0px 2 #000000;
    }

    // 金额数字
    &.Gold {
        font-size: 24px;
        color: #FFD060;
    }

    // 菜单文本
    &.Menu {
        font-size: 22px;
        color: #DFC97C;
        text-shadow: 0px 0px 1px 4 #000000;
    }

    &.Title {
        font-size: 22px;
        color: #DFC97C;
        text-shadow: 0px 0px 1px 4 #000000;
    }

    &.Normal {
        font-size: 16px;
        color: #A7A18D;
    }

    &.Money {
        font-size: 24px;
        color: #FFD060;
    }

    &.Tip {
        font-size: 16px;
        color: white;
    }

}