.CC_VerticalTable {
    // height: 100%;
    margin: 7px 0px 7px 0px;
    z-index: 2;
    flow-children: down;

    .VerticalTab {
        min-width: 130px;
        height: 81px;
        margin-top: -14px;
        flow-children: none;

        background-image: url("file://{images}/custom_game/eom_design/cctable/common_spliter.png"),
        url("file://{images}/custom_game/eom_design/cctable/common_spliter_2.png"),
        url("file://{images}/custom_game/eom_design/cctable/common_spliter_2.png");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: 118-6*2-4px 2px, 6px 7px, 6px 7px;
        background-position: left 14px bottom 9px, left 4px bottom 12px, right 38px bottom 12px;

        .RadioBox {
            visibility: collapse;
        }

        Label {
            width: 130px;
            vertical-align: center;
            color: #CB9A5B;
            text-shadow: 0px 0px 0px 2.0 #000000;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            text-overflow: shrink;
            text-shadow: -1px 1px 2px 2.0 #000000;
            font-family: titleFont;
            transition-property: color;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;

            .Language_schinese & {
                font-family: defaultFont;
                // letter-spacing: 18px;
            }
        }

        #SelectBG {
            width: 157px;
            height: 81px;
            background-image: url("file://{images}/custom_game/eom_design/cctable/tab_selected.png");
            background-repeat: no-repeat;
            background-size: 157px 81px;
            background-position: left center;

            transform: translateX(-157px);
            transition-property: transform;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;
        }

        &:selected {
            #SelectBG {
                transform: translateX(0px);
            }

            Label {
                color: #FFEEB3;
            }
        }

        transition-property: brightness;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;

        &:hover {
            brightness: 1.5;
        }


    }
}