.CCMingWenItem {
    &.MingWen_square {
        #MingWenBg {
            width: 60px;
            height: 80px;
            background-image:url("file://{images}/custom_game/hero/hero_relics/mingwenbg2.png");
            background-size: 100%;
            background-repeat: no-repeat;

            #MingWenBgLight {
                width: 100%;
                height: 100%;
                background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_rare_highlight_psd.png");
                background-size: 100%;
                background-repeat: no-repeat;



            }

            #MingWenBgStar {
                width: 40px;
                height: 40px;
                background-image:url("file://{images}/custom_game/combination/icons/goblin_psd.png");
                background-size: 100%;
                background-repeat: no-repeat;
                horizontal-align: center;
                margin-top: 8px;
                // background-color: yellow;
                // opacity-mask: url("file://{images}/custom_game/rank/7_widget.png");

            }

            #MingWenBgContent {
                width: 100%;
                height: 100%;
                background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_glow_rare_psd.png");
                background-size: 100%;
                background-repeat: no-repeat;



            }
        }
    }

    &.MingWen_diamond {
        #MingWenBg {
            width: 60px;
            height: 80px;
            background-image:url("file://{images}/custom_game/hero/hero_relics/mingwenbg1.png");
            background-size: 100%;
            background-repeat: no-repeat;

            #MingWenBgLight {
                width: 100%;
                height: 100%;
                background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_highlight_agi_psd.png");
                background-size: 100%;
                background-repeat: no-repeat;

                &.Red {
                    background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_highlight_str_psd.png");
                }

                &.Green {
                    background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_highlight_agi_psd.png");
                }

                &.Blue {
                    background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_highlight_int_psd.png");
                }

            }

            #MingWenBgStar {
                width: 40px;
                height: 40px;
                background-image:url("file://{images}/custom_game/combination/icons/goblin_psd.png");
                background-size: 100%;
                background-repeat: no-repeat;
                horizontal-align: center;
                margin-top: 6px;
                // background-color: yellow;
                // opacity-mask: url("file://{images}/custom_game/rank/7_widget.png");

            }

            #MingWenBgContent {
                width: 100%;
                height: 100%;
                background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_glow_rare_psd.png");
                background-size: 100%;
                background-repeat: no-repeat;

                &.Red {
                    background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_glow_red_png.png");
                }

                &.Green {
                    background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_glow_green_png.png");
                }

                &.Blue {
                    background-image:url("file://{images}/custom_game/hero/hero_relics/hero_relic_glow_blue_png.png");
                }

            }
        }
    }
}