#CC_DebugTool_Setting {
    background-color: gradient(linear, 0% 0%, 0% 25%, from(#232326), to(#1c1d20));

    #SelectionPickerHeader {
        background-color: #111111;

    }

    .SettingsSection {
        flow-children: down;
        width: 100%;
        margin-top: 12px;
    }

    .SectionHeaderAlignRight {
        width: 100%;
    }

    .SectionHeader {
        font-size: 24px;
        font-weight: thin;
        color: #939da0;
        text-transform: uppercase;
    }

    .SectionHeaderLine {
        height: 2px;
        width: 100%;
        margin: 2px;
        background-color: #3b3f40;
        margin-bottom: 12px;
    }

    .AddNewKeyBind {
        Label {
            font-size: 18px;
        }
    }
}