#CC_DrawCardBottomItem {
    width: 200px;
    height: 100px;
    flow-children: down;

    &.A {
        background-image: url("file://{images}/common/rarity/card_A.png");
    }

    &.B {
        background-image: url("file://{images}/common/rarity/card_B.png");
    }

    &.C {
        background-image: url("file://{images}/common/rarity/card_C.png");
    }

    &.D {
        background-image: url("file://{images}/common/rarity/card_D.png");
    }

    &.S {
        background-image: url("file://{images}/common/rarity/card_S.png");
    }

    &.SS {
        background-image: url("file://{images}/common/rarity/card_SS.png");
    }

}
