.CCDrawCardSloganItem {
    flow-children: right;
    align: center bottom;
    margin-bottom: 0px;

    .CCDrawCardSloganName {
        font-size: 14px;
        color: #ffffff;
        align: center center;
    }

    #slogan_star_up {
        margin-left: 5px;
        width: 50px;
        height: 20px;
    }

    #slogan_sect {
        margin-left: 5px;
        width: 50px;
        height: 20px;
    }

    #slogan_wanted {
        margin-left: 5px;
        width: 50px;
        height: 20px;
    }
}