.hero_draw_card_box {
    // width: 300px;
    // height: 300px;
    transition-property: transform;
    transition-duration: 0.2s;
    z-index: 500;
    // margin-top: -45px;
}

.hero_draw_card_box:hover {
    transform: scale3d(1.2, 1.2, 1.2);
}
