#CC_DrawCardBottomItem {
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    flow-children: down;

    &.A {
        background-image: url("file://{images}/custom_game/rarity/card_a.png");
    }

    &.B {
        background-image: url("file://{images}/custom_game/rarity/card_b.png");
    }

    &.C {
        background-image: url("file://{images}/custom_game/rarity/card_c.png");
    }

    &.D {
        background-image: url("file://{images}/custom_game/rarity/card_d.png");
    }

    &.S {
        background-image: url("file://{images}/custom_game/rarity/card_s.png");
    }

    &.SS {
        background-image: url("file://{images}/custom_game/rarity/card_ss.png");
    }


}