.CCDrawEnemyPanel {
    align: center center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.15s;

    &.PopUpEffect {
        opacity: 1;
    }

    .EnemyTitle {
        color: white;
        font-size: 24px;
        horizontal-align: center;
    }

    .EnemyContainer {
        width: 360px;
        height: 400px;
        // margin: 16px;
        // background-image: url("file://{images}/custom_game/draw/bg_select_item_r.png");
        background-size: 100%;

    }

    .BattleTeamDiv {
        width: 380px;
        border: 1px solid #62758B;
    }
}


.CCDrawHeroInfoItem {
    border: 1px solid #62758B;
    width: 350px;
    horizontal-align: center;
}