.CCEconItemImage {
    width: 100px;
    height: 64px;
    flow-children: down;

    #EconIconButton {
        width: 100%;
        height: 100%;
    }

    .EconItem {
        width: 100%;
        height: 100%;
    }
}