#CC_DacBoardPanel {
    margin-bottom: 0px;
    flow-children: right;
    width: 800px;
    height: 200px;

    #DacBoardLeft {
        width: 30%;

    }

    #DacBoardCenter {
        flow-children: down;
        width: 40%;

    }
}