#CC_DacBoardPanel {
    vertical-align: bottom;
    margin-bottom: 0px;
    flow-children: right;
    width: 800px;
    height: 200px;

    #DacBoardLeft {
        width: 30%;
        height: 100%;
    }

    #DacBoardCenter {
        width: 60%;
        height: 100%;

        .CCBuffList {
            margin-top: 0px;
        }

        .CCAbilityList {
            margin-top: 0px;

        }
    }

    #DacBoardRight {
        width: 30%;
        height: 100%;
    }
}
