.CC_GameDifficulty {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-right: 84px;
    padding-right: 72px;
    horizontal-align: right;
    flow-children: left;

    &.Difficulty_0 {
        margin-top: 48px;
    }

    &.Difficulty_4 {
        margin-top: -6px;
    }

    &.Difficulty_5 {
        margin-top: -10px;
    }

    &.Difficulty_888 {
        margin-top: 20px;
    }



    .RadioBox {
        visibility: collapse;
    }

    #DifficultyNumMain {
        vertical-align: center;
        height: 32px;
        overflow: noclip;

        #DifficultyHover {
            width: 100%;
            height: 100%;
            background-image: url("file://{images}/custom_game/allspehud/before_game/hover.png");
            background-repeat: no-repeat;
            background-size: 85px 49px;
            background-position: center;
            overflow: noclip;
            opacity: 0;
            transition-property: opacity;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }

        #DifficultyLabel {
            width: 110px;
            max-height: 40px;
            text-align: center;
            vertical-align: center;
            font-size: 18px;
            color: rgb(106, 163, 78);
            text-shadow: 0px 0px 2px 3 #000000;
            text-overflow: shrink;
        }
    }

    &:selected {
        #DifficultyNumMain {
            #DifficultyLabel {
                color: #FFFFFF;
            }
        }
    }

    #Lock {
        width: 32px;
        height: 32px;
        background-image: url("file://{images}/custom_game/allspehud/before_game/lock.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 33px 37px;
        overflow: noclip;
        visibility: collapse;
    }

    .DifficultyPlayers {
        flow-children: right;
        vertical-align: center;
        margin-right: 64px;
    }

    &:enabled {
        &:hover {
            #DifficultyNumMain {
                #DifficultyHover {
                    opacity: 1;
                }
            }
        }
    }

    &:disabled {
        #DifficultyNumMain {
            saturation: 0;
            brightness: .4;
        }

        #Lock {
            visibility: visible;
        }
    }
}

#CC_GameEndlessDifficulty {
    margin-top: 90px;
    horizontal-align: right;
    flow-children: right;

    .RadioBox {
        visibility: collapse;
    }

    .DifficultyPlayers {
        flow-children: right;
        vertical-align: center;
        margin-right: 64px;
    }

    #Lock {
        width: 32px;
        height: 32px;
        background-image: url("file://{images}/custom_game/allspehud/before_game/lock.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 33px 37px;
        overflow: noclip;
        visibility: collapse;
    }

    #endlessName {
        vertical-align: top;
        font-size: 20px;
        color: #BB70DE;
        text-shadow: 0px 0px 2px 3 #000000;
        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
    }

    &:selected {
        #endlessName {
            color: #eac5fa;
            font-size: 24px;
        }
    }

    #TextEntryAndButtons {
        margin-left: 4px;
        flow-children: down;

        background-image: url("file://{images}/custom_game/allspehud/before_game/entry_bg.png");
        background-position: left -10px top -6px, center;
        background-repeat: no-repeat;
        background-size: 54px 33px;
        overflow: noclip;

        #Buttons {
            margin-top: 4px;
            flow-children: right;
        }
    }

    &:disabled {
        #Lock {
            visibility: visible;
        }
    }

    #OperatorEndlessDecreaseButton,
    #OperatorEndlessIncreaseButton {
        vertical-align: center;
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #OperatorEndlessDecreaseButton {
        background-image: url("file://{images}/custom_game/allspehud/before_game/reduce.png");
    }

    #OperatorEndlessIncreaseButton {
        background-image: url("file://{images}/custom_game/allspehud/before_game/add.png");
    }

    #OperatorEndlessTextEntry {
        width: 54px;
        height: 20px;
        vertical-align: center;
        padding: 0px;

        background-color: transparent;
        border-width: 0px;

        Label {
            horizontal-align: center;
            font-size: 14px;
            text-align: center;
            text-overflow: shrink;
        }
    }
}