.CCButtonBox {
    width: fit-children;
    height: fit-children;
    z-index: 1;

    transition-property: wash-color;
    transition-duration: 0.15s;

    &:disabled {
        saturation: 0.0;
        brightness: 0.5;
    }

    &:not(:disabled):hover {
        brightness: 2.0;
    }

    &:not(:disabled):active {
        brightness: 0.5;
        sound: "ui_generic_button_click";
    }
}