.CC_Button {
    background-size: 100%;
    background-repeat: no-repeat;
    transition-property: brightness;
    transition-duration: 0.05s;



    &:disabled {
        saturation: 0.0;
        brightness: 0.5;
    }

    &:not(:disabled):hover {
        brightness: 2.0;
    }

    &:not(:disabled):active {
        brightness: 0.5;
        sound: "ui_generic_button_click";
    }
}

&.Loading {
    Label {
        opacity: 0;
    }
}

/** Tui6 */
.CC_Button.Tui6 {
    width: 152px;
    height: 42px;
    margin: 8px;
    background-size: 100%;
    background-repeat: no-repeat;
    transition-property: brightness, color;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;



    &.Red {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui6/btn_red.png");
    }

    &.Green {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui6/btn_green.png");
    }

    &.Purple {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui6/btn_purple.png");
    }

    &.Gray {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui6/btn_gray.png");
    }

    &.Gold {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui6/btn_gold.png");
    }

    &.Blue {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui6/btn_blue.png");
    }

    &:enabled:hover {
        brightness: 1.5;
    }

    &:active {
        brightness: 0.5;
    }

    &:disabled {

        wash-color: #AAAAAA;
        saturation: 0;
    }

    & Label {
        // text-transform: uppercase;
        letter-spacing: 2px;
        color: #FFFFFF;
        horizontal-align: center;
        text-align: center;
        vertical-align: middle;
        text-shadow: 0px 0px 5px 2.0 #000000;

        transition-property: color, opacity;
        transition-duration: 0.35s;
        transition-timing-function: ease-in-out;
    }

    &:disabled Label {
        color: #333333;
    }
}

/** Tui7 */
.CC_Button.Tui7 {
    .CC_Button.Tui6();

    &.Red {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui7/btn_red.png");
    }

    &.Green {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui7/btn_green.png");
    }

    &.Purple {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui7/btn_purple.png");
    }

    &.Gray {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui7/btn_gray.png");
    }

    &.Gold {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui7/btn_gold.png");
    }

    &.Blue {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui7/btn_blue.png");
    }
}

/** Tui3 */
.CC_Button.Tui3 {
    .CC_Button.Tui6();

    &.Red {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui3/btn_red.png");
    }

    &.Green {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui3/btn_green.png");
    }

    &.Purple {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui3/btn_purple.png");
    }

    &.Gray {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui3/btn_gray.png");
    }

    &.Gold {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui3/btn_gold.png");
    }

    &.Blue {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Tui3/btn_blue.png");
    }
}

/** Style1 */
.CC_Button.Style1 {
    .CC_Button.Tui6();

    &.Red {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Style1/btn_red.png");
    }

    &.Green {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Style1/btn_green.png");
    }

    &.Purple {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Style1/btn_purple.png");
    }

    &.Gray {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Style1/btn_gray.png");
    }

    &.Gold {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Style1/btn_gold.png");
    }

    &.Blue {
        background-image: url("file://{images}/custom_game/eom_design/ccbutton/Style1/btn_blue.png");
    }
}

/** 以下为官方样式 */
.CC_Button.Bevel {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#373d45), to(#4d5860));
    border-style: solid;
    border-width: 1px;

    padding: 4px 10px;

    margin: 8px;

    border-top-color: #555555;
    border-left-color: #494949;
    border-bottom-color: #333333;
    border-right-color: #404040;

    transition-property: background-color, opacity;
    transition-duration: 0.05s;
    transition-timing-function: linear;
    box-shadow: #00000055 0px 0px 4px 0px;

    min-width: 192px;
    min-height: 36px;

    &.Green {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#2a481f), to(#226326));

        border-top-color: #355639;
        border-left-color: #2c4d30;
        border-bottom-color: #1e371e;
        border-right-color: #214123;
    }

    &.DarkGreen {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#1a2c13), to(#18441b));

        border-top-color: #223524;
        border-left-color: #2c4d30;
        border-bottom-color: #091009;
        border-right-color: #132615;
    }

    &.Bronze {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#b9894c), to(#dca157));

        border-top-color: #e0a75e;
        border-left-color: #dca35b;
        border-bottom-color: #8d683a;
        border-right-color: #8f6b3c;
    }

    &.Plus {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#877f4f), to(#a79c5b));

        border-top-color: #b4a442;
        border-left-color: #aea463;
        border-bottom-color: #635e3b;
        border-right-color: #756f45;
    }


    &:enabled:hover {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#4c5561), to(#6c7d88));

        border-top-color: #aaaaaa77;
        border-left-color: #aaaaaa33;
        border-bottom-color: #333333;
        border-right-color: #404040;
    }

    &.Green:enabled:hover {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#226528), to(#288a36));

        border-top-color: #030503;
        border-left-color: #000000;
        border-bottom-color: #1e371d;
        border-right-color: #244426;
    }

    &.DarkGreen:enabled:hover {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#17421b), to(#185321));

        border-top-color: #000000;
        border-left-color: #000000;
        border-bottom-color: #172a16;
        border-right-color: #152716;
    }

    &.Bronze:enabled:hover {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#dda45a), to(#fcb965));

        border-top-color: #f2b362;
        border-left-color: #edb062;
        border-bottom-color: #966f3e;
        border-right-color: #966f3e;
    }

    &.Plus:enabled:hover {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#a79d63), to(#c2b56b));

        border-top-color: #cab84b;
        border-left-color: #c6bb72;
        border-bottom-color: #7c764b;
        border-right-color: #8e8755;
    }

    &:disabled {

        wash-color: #AAAAAA;
        saturation: 0;
    }

    &.Bronze:disabled {

        saturation: 0.75;
    }

    &.Plus:disabled {

        saturation: 0.75;
    }

    & Label {
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #FFFFFF;
        horizontal-align: center;
        text-align: center;
        vertical-align: middle;
        text-shadow: 0px 0px 0px 1.0 #000000;

        transition-property: color;
        transition-duration: 0.35s;
        transition-timing-function: ease-in-out;
    }

    &:disabled Label {
        color: #333333;
    }

    &:active {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#393939), to(#555555));

        border-top-color: #222222;
        border-left-color: #303030;
        border-bottom-color: #666666;
        border-right-color: #444444;
        sound: "ui_generic_button_click";
    }

    &.Green:active {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#1f3d25), to(#2b562c));

        border-top-color: #132416;
        border-left-color: #192f1b;
        border-bottom-color: #386b3b;
        border-right-color: #264a29;
    }

    &.DarkGreen:active {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#132416), to(#183019));

        border-top-color: #09110a;
        border-left-color: #0f1b10;
        border-bottom-color: #1f3820;
        border-right-color: #172c19;
    }

    &.Bronze:active {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#4d391f), to(#9b713c));

        border-top-color: #684e2d;
        border-left-color: #6d522f;
        border-bottom-color: #977242;
        border-right-color: #906c3f;
    }

    &.Plus:active {

        color: #DCD086;

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#877f4f), to(#a79c5b));

        border-top-color: #635e3b;
        border-left-color: #756f45;
        border-bottom-color: #b4a442;
        border-right-color: #aea463;
    }

    &:active Label {

        transform: translateY(1px);
    }
}

.CC_Button.Default {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#4B555D));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: cover;
    border: 1px solid #83838390;

    margin: 8px;

    min-width: 192px;
    max-width: 500px;
    padding: 10px 30px;

    transition-property: background-color, wash-color;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;

    & Label {
        color: white;
        font-size: 20px;
        horizontal-align: center;
        vertical-align: middle;

        text-transform: uppercase;
        text-overflow: shrink;
        text-shadow: 0px 0px 5px 3.0 #000000;
        font-weight: semi-bold;
        letter-spacing: 1px;
    }

    &:enabled:hover {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#58636e), to(#53626e));
    }

    &:disabled {
        opacity: 0.3;
    }

    &:disabled Label {
        color: #999999;
    }

    &:active Label {
        transform: translateY(1px);
    }

    &:active {
        border: 1px solid #83838390;
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#272f33), to(#5a6c75));
    }

    &.Activated {
        sound: "ui_quit_menu_fadeout";
    }

    &.Green {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#03380a), to(#3d9b3d));
        border: 1px solid #91EA4B40;

        &:enabled:hover {

            background-color: gradient(linear, 0% 0%, 0% 100%, from(#085c13), to(#49a349));
        }

        &:active {

            background-color: gradient(linear, 0% 0%, 0% 100%, from(#012907), to(#215c21));
            border: 1px solid #ffffff10;
        }
    }

    &.Blue {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#112b3a), to(#1E5D81));
        border: 1px solid #4BCDEA30;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#164f70), to(#287aaa));
        }

        &:active {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#091a24), to(#174864));
            border: 1px solid #ffffff10;
        }
    }

    &.Red {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#7e1212), to(#da4d4d));
        border: 1px solid #ff555550;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#9e2828), to(#f76d6d));
        }

        &:active {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#580d0d), to(#a52e2e));
            border: 1px solid #ffffff10;
        }
    }

    &.Purple {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#431172), to(#893cad));
        border: 1px solid #b772f850;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#5c179c), to(#ad5cd3));
        }

        &:active {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#2e0b4e), to(#61237e));
            border: 1px solid #ffffff10;
        }
    }

    &.Gold {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#795714), to(#fdc762));
        border: 1px solid #fcc81e50;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#a37924), to(#ffda95));
        }

        &:active {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#4b360b), to(#b48630));
            border: 1px solid #ffffff10;
        }
    }

}

.CC_Button.Store {
    border-top: 1px solid #ffffff22;
    border-bottom: 1px solid #00000088;
    padding: 5px 14px 3px 14px;
    min-width: 180px;
    margin: 8px;
    height: 39px;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#60862d), to(#3d5f1c));

    & Label {
        color: white;
        horizontal-align: center;
        vertical-align: middle;

        text-transform: uppercase;
        text-overflow: shrink;
        text-shadow: 0px 0px 3px 2.0 #000000;
        font-weight: semi-bold;
        letter-spacing: 1px;
    }

    &:disabled Label {
        color: #999999;
    }

    &:hover:enabled {
        brightness: 2.0;
    }

    &:active {
        brightness: 1.5;
        sound: "ui_generic_button_click";
    }

    &:disabled {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#646666), to(#646666));
    }

    &.Direct {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#60862d), to(#3d5f1c));
    }

    &.InBundle {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#c28000), to(#744c00));
    }

    &.InTreasure {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#3784a6), to(#215373));
    }

    &.AdditionalDropInTreasure {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#3751a6), to(#1b2b5e));
    }

    &.DotaPlus {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#e0c59a), to(#ae9249));

        &:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#f7d9aa), to(#d1af58));
        }

        &:active {
            background-color: gradient(linear, 0% 100%, 0% 0%, from(#f7d9aa), to(#d1af58));
        }
    }

    &.Market {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#307663), to(#245a4b));
    }

    &.ShardsPurchase {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#433620), to(#141b21));
        border-top: 1px solid #ffffff11;
    }

    &.Gift {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#60862d), to(#3d5f1c));
    }

    &.Season_Winter2017 {
        background-image: url("s2r://panorama/images/compendium/winter2016/home_block_backgrounds/silver_png.vtex");
        background-size: 100% 100%;
    }

    &.Season_International2016 {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#6b211c), to(#8e2b19));
        background-size: 100% 100%;
    }


    &.Season_Fall2016 {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#2b3e18), to(#455c1e));
        background-size: 100% 100%;
    }


    &.Season_International2017 {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#154e6b), to(#52a0ae));
        background-size: 100% 100%;
    }


    &.Season_International2018 {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#012311), to(#1f8c51));
        background-size: 100% 100%;
    }

    &.Season_International2019 {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#0B0119), to(#34156B));
        background-size: 100% 100%;
    }

    &.Season_International2020 {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#B28948), to(#3A1803));
        background-size: 100% 100%;
    }

    &.Season_Spring2021 {

        background-color: gradient(linear, 0% 0%, 0% 100%, from(#9D5599), to(#3A103A));
        background-size: 100% 100%;
    }
}

.CC_Button.Primary {
    margin: 8px;

    min-width: 330px;
    max-height: 49px;

    padding: 4px 12px 4px 12px;

    background-color: gradient(linear, 0% 0%, 0% 100%, from(#5A615Ecc), to(#879695cc));
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#5Aa15E), to(#87d69533));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 328px 50px;

    box-shadow: fill #002a6644 1px 1px 8px 1px;

    border-top: 1px solid #ffffff44;
    border-right: 1px solid #00000088;
    border-left: 1px solid #ffffff44;
    border-bottom: 1px solid #00000088;

    opacity: 1.0;

    transition-property: box-shadow, background-color, opacity, transform;
    transition-delay: 0.0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:enabled:hover {
        // background-color: gradient(linear, 0% 0%, 0% 100%, from(#5Aa15E), to(#87d695));
        box-shadow: fill #414f4daa 0px 0px 8px 0px;
        brightness: 1.2;
    }

    &:disabled {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#5A615E), to(#ffffff));
    }

    &:active {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#5A615E), to(#ffffff));
    }

    & Label {
        margin-top: 2px;
        horizontal-align: center;
        font-size: 28px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        height: 40px;
        text-overflow: shrink;
        text-shadow: 0px 0px 5px #000000;

        transition-property: color;
        transition-delay: 0.0s;
        transition-duration: 0.2s;
    }

    background-color: gradient(linear, 0% 0%, 0% 100%, from(#5Aa15E), to(#87d69533));


    &.Gray {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#5A615Ecc), to(#879695cc));
        saturation: 0.1;
        opacity: 0.5;
        box-shadow: none;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#5Aa15E), to(#87d695));
            box-shadow: fill #5Aa15E20 0px 0px 8px 0px;
        }
    }

    &.Black {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#14161a), to(#23262b));
        box-shadow: fill #00000000 0px 0px 0px 0px;
        border-top: 1px solid #ffffff03;
        border-left: 1px solid #ffffff03;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#14161a), to(#23262b));
            box-shadow: fill #00000000 0px 0px 0px 0px;
        }
    }

    &.Blue {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#2d4881cc), to(#486ca9cc));
        box-shadow: fill #486ca922 0px 0px 8px 0px;
        border-top: 1px solid #ffffff03;
        border-left: 1px solid #ffffff03;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#2d4881cc), to(#84acff));
            box-shadow: fill #486ca966 0px 0px 18px 0px;
        }
    }

    &.DarkBlue {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#102149cc), to(#1e3565cc));
        box-shadow: fill #486ca922 0px 0px 8px 0px;
        border-top: 1px solid #486ca944;
        border-left: 1px solid #486ca944;
        border-right: 1px solid #00000088;
        border-bottom: 1px solid #00000088;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#102149ff), to(#345288));
            box-shadow: fill transparent 0px 0px 0px 0px;
        }
    }

    &.Red {
        background-color: gradient(linear, 0% 0%, 0% 100%, from(#7e1212), to(#da4d4d));
        border: 1px solid #ff555550;

        &:enabled:hover {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#9e2828), to(#f76d6d));
        }

        &:active {
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#580d0d), to(#a52e2e));
            border: 1px solid #ffffff10;
        }
    }

    // background-image: url("s2r://panorama/images/red_large_off_png.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.CC_Button.Text {
    margin: 8px;
    height: 24px;


    &:enabled:hover Label {
        color: #CCCCCC;
    }

    &.selected Label {
        color: white;
        sound: "ui_rollover_micro";
    }

    &:active {
        transform: translateY(2px);
    }

    &:active:selected {
        transform: translateY(0px);
    }

    & Label {
        color: #939da044;
        font-size: 20px;
        align: center center;

        text-overflow: shrink;
        text-shadow: 0px 0px 5px 3.0 #000000;
        font-weight: semi-bold;
        letter-spacing: 1px;

        transition-property: color, text-shadow;
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }
}

.CC_Button.Outline {
    margin: 8px;
    border: 1px solid #ffffff30;
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #00000030;
    transition-property: border, background-color;
    transition-duration: 0.3s;

    & Label {
        text-align: right;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 2px 4px black;
    }

    &:hover {
        border: 1px solid #ffffff90;
        background-color: #00000090;
        transition-property: border, background-color;
        transition-duration: 0.3s;
    }

    &:active {
        brightness: 1.5;
        sound: "ui_select_blue";
    }

    &.Blue {
        border: 1px solid #3366aa55;
        background-color: #3366aa11;
        border-radius: 0px;

        & Label {
            margin: 0px 24px 0px 24px;
            color: #66aadd;
            font-size: 16px;
            letter-spacing: normal;
            text-transform: uppercase;
            vertical-align: middle;
        }

        &:enabled:hover Label {
            color: white;
        }

        &:enabled:hover {
            border: 1px solid #22aaffaa;
            background-color: #3366aa44;
        }

        &:active {
            background-color: #23468a44;
            sound: "ui_select_blue";
        }

        &:active Label {
            color: #76baed;
        }

        &:disabled {
            wash-color: #000000DD;
            saturation: 0;
        }
    }

    &.Gray {
        border-color: #4C575F44;
        border-color: #4C575Fff;
        background-color: #3A444433;
        border-radius: 0px;

        & Label {
            color: #768E8D;
        }

        &:enabled:hover Label {
            color: white;
        }

        &:enabled:hover {
            border-color: #4C575Fff;
        }

        &:selected,
        &:active {
            background-color: #4C575F;
        }
    }

    &.Red {
        border-color: #EA6953;
        border-color: #EA6953;
        border-radius: 0px;

        & Label {
            color: #EA6953;
        }

        &:enabled:hover Label {
            color: #FEE6A9;
        }

        &:enabled:hover {
            border-color: #EA6953;
        }
    }
}
