.CC_PopupMain {
    align: center center;
    width: 981px;
    height: 620px;
    // background-image: url("file://{images}/custom_game/eom_design/popup/popup_bg.png");
    // background-size: 100%;
    opacity: 0;
    y: 100px;
    transition-property: opacity, position;
    transition-duration: 0.2s;

    &.CC_PopupMainShow {
        opacity: 1;
        y: 0px;
    }

    .CC_PopupTitle {
        font-size: 24px;
        text-shadow: 0px 0px 2px 4 rgba(0, 0, 0, 0.5);
        color: gradient(linear, 0% 0%, 0% 100%, from(#DAC59D), to(#A07D53));
        margin-top: 15px;
        horizontal-align: center;
    }

    .CC_PopupContent {
        width: 100%;
        height: 100%;
        horizontal-align: center;
        margin-top: 80px;
        margin-bottom: 32px;
        margin-left: 48px;
        margin-right: 48px;
        flow-children: down;

        .CC_PopupContentTop {
            width: 100%;
            height: 338px;
        }

        .CC_PopupContentBottom {
            width: 100%;
            height: 100%;
            padding-bottom: 14px;
        }
    }

    .CC_IconButton {
        horizontal-align: right;
        wash-color: none;

        &:hover {
            wash-color: none;
        }

        &.Tui7 {
            margin-top: 16px;
            margin-right: 3px;
        }

        &.Tui3 {}
    }
}

// 拼接弹窗背景
.CC_PopupBG {
    width: 100%;
    height: 100%;

    // background-color: #13151C;
    // opacity: 0.95;
    // margin: -15px;
    &.Tui7 {
        .CC_TitleBG {
            horizontal-align: center;
            width: 480px;
            height: 54px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/popup_title_bg.png");
            background-size: 100%;
            z-index: 3;
        }

        .CC_Texture {
            width: 100%;
            height: 100%;
            margin-top: 13px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/bg.png");
            background-size: 100%;
            z-index: 4;
        }

        .CC_LeftTopBG {
            align: left top;
            width: 120px;
            height: 120px;
            margin-top: 13px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/left_top.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }

        .CC_CenterTopBG {
            align: center top;
            width: 100%;
            height: 120px;
            margin-top: 13px;
            margin-left: 120px;
            margin-right: 120px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/center_top.png");
            background-size: 100%;
            background-repeat: repeat-x;
        }

        .CC_RightTopBG {
            align: right top;
            width: 120px;
            height: 120px;
            margin-top: 13px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/right_top.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }

        .CC_CenterCenterBG {
            align: center center;
            width: 100%;
            height: 100%;
            margin: 120px;
            margin-top: 133px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/center.png");
            background-size: 100%;
            background-repeat: no-repeat;
            z-index: -1;
        }

        .CC_LeftCenterBG {
            align: left center;
            width: 120px;
            height: 100%;
            margin-top: 133px;
            margin-bottom: 120px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/left_center.png");
            background-size: 100%;
            background-repeat: repeat-y;
        }

        .CC_RightCenterBG {
            align: right center;
            width: 120px;
            height: 100%;
            margin-top: 133px;
            margin-bottom: 120px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/right_center.png");
            background-size: 100%;
            background-repeat: repeat-y;
        }

        .CC_LeftBottomBG {
            align: left bottom;
            width: 120px;
            height: 120px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/left_bottom.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }

        .CC_CenterBottomBG {
            align: center bottom;
            width: 100%;
            height: 120px;
            margin-left: 120px;
            margin-right: 120px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/center_bottom.png");
            background-size: 100%;
            background-repeat: repeat-x;
        }

        .CC_RightBottomBG {
            align: right bottom;
            width: 120px;
            height: 120px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui7/right_bottom.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }
    }

    &.Tui3 {
        .CC_TitleBG {
            // horizontal-align: center;
            // width: 480px;
            // height: 54px;
            // background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/popup_title_bg.png");
            // background-size: 100%;
            // z-index: 3;
        }

        .CC_Texture {
            // width: 100%;
            // height: 100%;
            // margin-top: 13px;
            // background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/bg.png");
            // background-size: 100%;
            // z-index: 4;
        }

        .CC_LeftTopBG {
            align: left top;
            width: 37px;
            height: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/left_top.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }

        .CC_CenterTopBG {
            align: center top;
            width: 100%;
            height: 37px;
            margin-left: 37px;
            margin-right: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/center_top.png");
            background-size: 100%;
            background-repeat: repeat-x;
        }

        .CC_RightTopBG {
            align: right top;
            width: 37px;
            height: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/right_top.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }

        .CC_CenterCenterBG {
            align: center center;
            width: 100%;
            height: 100%;
            margin: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/center.png");
            background-size: 100%;
            background-repeat: no-repeat;
            z-index: -1;
        }

        .CC_LeftCenterBG {
            align: left center;
            width: 37px;
            height: 100%;
            margin-top: 37px;
            margin-bottom: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/left_center.png");
            background-size: 100%;
            background-repeat: repeat-y;
        }

        .CC_RightCenterBG {
            align: right center;
            width: 37px;
            height: 100%;
            margin-top: 37px;
            margin-bottom: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/right_center.png");
            background-size: 100%;
            background-repeat: repeat-y;
        }

        .CC_LeftBottomBG {
            align: left bottom;
            width: 37px;
            height: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/left_bottom.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }

        .CC_CenterBottomBG {
            align: center bottom;
            width: 100%;
            height: 37px;
            margin-left: 37px;
            margin-right: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/center_bottom.png");
            background-size: 100%;
            background-repeat: repeat-x;
        }

        .CC_RightBottomBG {
            align: right bottom;
            width: 37px;
            height: 37px;
            background-image: url("file://{images}/custom_game/eom_design/popup/Tui3/right_bottom.png");
            background-size: 100%;
            background-repeat: no-repeat;

            z-index: 2;
        }
    }


}
