#CC_UnitSmallIcon {
    background-repeat: no-repeat;
    background-size: 100%;

    &.A {
        background-image: url("file://{images}/custom_game/rarity/frame_a.png");
    }

    &.B {
        background-image: url("file://{images}/custom_game/rarity/frame_b.png");
    }

    &.C {
        background-image: url("file://{images}/custom_game/rarity/frame_c.png");
    }

    &.D {
        background-image: url("file://{images}/custom_game/rarity/frame_d.png");
    }

    &.S {
        background-image: url("file://{images}/custom_game/rarity/frame_s.png");
    }

    &.SS {
        background-image: url("file://{images}/custom_game/rarity/frame_ss.png");
    }

    #UnitIcon {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
    }
}