#CC_UnitSmallIcon {
    background-repeat: no-repeat;
    background-size: 100%;

    &.A {
        background-image: url("file://{images}/custom_game/rarity/frame_A.png");
    }

    &.B {
        background-image: url("file://{images}/custom_game/rarity/frame_B.png");
    }

    &.C {
        background-image: url("file://{images}/custom_game/rarity/frame_C.png");
    }

    &.D {
        background-image: url("file://{images}/custom_game/rarity/frame_D.png");
    }

    &.S {
        background-image: url("file://{images}/custom_game/rarity/frame_S.png");
    }

    &.SS {
        background-image: url("file://{images}/custom_game/rarity/frame_SS.png");
    }

    #UnitIcon {
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 100%;
    }
}