.Res_image_451 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/btn_close.png");
}

.Res_image_452 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/card_rarity_n.png");
}

.Res_image_453 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/card_rarity_r.png");
}

.Res_image_454 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/card_rarity_sr.png");
}

.Res_image_455 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/card_rarity_ssr.png");
}

.Res_image_456 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/star.png");
}

.Res_image_457 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/Star01.png");
}

.Res_image_458 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/Star02.png");
}

.Res_image_459 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/Star03.png");
}

.Res_image_460 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/Star04.png");
}

.Res_image_461 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui3/Star05.png");
}