#HotkeysTabContent {
    padding-top: 0px;
}

.SettingsSecondaryPanel {
    margin-top: 40px;
    padding-top: 6px;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    visibility: collapse;
}

.SettingsSecondaryPanel:selected {
    visibility: visible;
}

.SettingsColumnContainer {
    flow-children: right;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 0px 38px 0px 38px;
}

.SettingsDualColumn {
    flow-children: down;
    margin: 0px;
    width: 100%;
    padding: 0px 16px 60px 16px;
}

.FullHeight {
    height: 100%;
}

.SettingsSection {
    flow-children: down;
    width: 100%;
    margin-top: 12px;
}

.SectionHeaderAlignRight {
    width: 100%;
}

.SectionHeader {
    font-size: 24px;
    font-weight: thin;
    color: #939da0;
    text-transform: uppercase;
}

.SectionHeaderLine {
    height: 2px;
    width: 100%;
    margin: 2px;
    background-color: #3b3f40;
    margin-bottom: 12px;
}

.BindingRow {
    background-color: none;
    flow-children: right;
    width: 100%;
    height: 28px;
    margin: 4px 0px 4px 0px;
    tooltip-position: bottom;
}

.ExtraTopSpace {
    margin-top: 16px;
}

.HeroAbilityBindAbilityButton {
    flow-children: none;
}

.ItemBindButton {
    flow-children: none;
}

#BindingLabelContainer {
    height: 100%;
    horizontal-align: center;
    flow-children: right;
}

#BindingLabelContainer.ActiveBindButton {
    background-color: #1350a9;
    width: 100%;
    animation-name: BackgroundPulse;
    animation-duration: 1.35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.HeroAbilityBindAbilityButton #BindingLabelContainer,
.ItemBindButton #BindingLabelContainer {
    flow-children: none;
    horizontal-align: left;
}

#mod {
    visibility: collapse;
    margin-right: -2px;
    text-overflow: shrink;
}

#dash {
    visibility: collapse;
    margin-right: 1px;
}

.ClearKeybinding {
    width: 24px;
    height: 24px;
    vertical-align: center;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-size: 100%;
    background-repeat: no-repeat;
    visibility: collapse;
}

.SettingsKeyBinder.selected .ClearKeybinding {
    visibility: visible;
}

.HeroAbilityBindAbilityButton .ClearKeybinding,
.ItemBindButton .ClearKeybinding {
    vertical-align: top;
}

.SettingsKeyBinder.selected .ActiveBindButton #mod,
.SettingsKeyBinder.selected .ActiveBindButton #dash {
    visibility: collapse;
}

.Modifier #dash,
.Modifier #dash,
.Modifier #mod,
.Modifier #mod {
    visibility: visible;
}

.HeroAbilityBindAbilityButton .Modifier #mod,
.ItemBindButton .Modifier #mod {
    visibility: visible;
    margin-top: 14px;
    font-size: 14px;
    opacity: 0.55;
}

.HeroAbilityBindAbilityButton .Modifier #dash,
.ItemBindButton .Modifier #dash {
    visibility: collapse;
}

.BindingRow:hover .BindingRowButton {
    color: white;
}

.BindingRow:hover Label {
    color: white;
    transition-property: color;
    transition-duration: 0.16s;
    transition-timing-function: ease-in-out;
}

.SettingsKeyBinder {
    .BindingRowLabel {
        letter-spacing: 1px;
        background-color: #141616;
        width: fill-parent-flow(0.7);
        margin: 0px 8px 0px 0px;
        border-width: 0px;
        height: 100%;
        padding-top: 3px;
        padding-left: 8px;
        font-size: 18px;
        color: #7d8688;
        horizontal-align: left;
        transition-property: color, background-color;
        transition-duration: 0.16s;
        transition-timing-function: ease-in-out;
    }
}

.BindingRow.CannotEdit:hover #LabelFXContainer,
.CannotEdit #LabelFXContainer,
.BindingRow.CannotEdit:hover .BindingRowLabel {
    background-color: #141616;
}

.CannotEdit:hover Label {
    color: #7d8688;
}

.CannotEdit:hover #LabelFXContainer Label {
    color: #8d9698;
}

.HeroAbilityBindAbilityButton .BindingRowLabel,
.ItemBindButton .BindingRowLabel {
    width: 68.1%;
    margin-right: 0px;
}

.BindingRowButton {
    color: #8d9698;
    horizontal-align: right;
    font-size: 18px;
    padding-top: 3px;
    text-overflow: shrink;
}

#ItemBindingContents .BindingRowButton {
    color: white;
    text-shadow: 0px 0px 3px 3.0 #000000;
}

.BindingRowButton:hover {
    color: white;
}

.HeroAbilityBindAbilityButton {
    width: 84px;
    height: 84px;
    margin: 12px;
    margin-top: 13px;
    background-color: #323836;
    border: 2px solid #414a45;
}

.HeroAbilityBindAbilityButton,
.ItemBindButton {
    background-color: #2B2F30;
    color: #7d8688;
    transition-property: transform, background-color, border, color;
    transition-duration: 0.16s;
    transition-timing-function: ease-in-out;
}

#AbilityBindings_Hero .HeroAbilityBindAbilityButton {
    background-color: transparent;
}

.HeroAbilityBindAbilityButton:hover,
.ItemBindButton:hover {
    background-color: #424c49;
    border-color: #5b6a62;
    color: white;
}

.HeroAbilityBindAbilityButton:disabled,
.ItemBindButton:disabled {
    opacity: 0.2;
}

.HeroAbilityBindAbilityButton .BindingRowLabel {
    width: 100%;
    color: #414a45;
    font-size: 40px;
    font-weight: thin;
    background-color: transparent;
    vertical-align: bottom;
    horizontal-align: right;
    text-align: right;
    height: fit-children;
    margin-right: 4px;
    margin-bottom: -12px;
    transition-property: color, background-color;
    transition-duration: 0.16s;
    transition-timing-function: ease-in-out;
}

.HeroAbilityBindAbilityButton:hover .BindingRowLabel {
    color: #7d8688;
    background-color: transparent;
}

.HeroAbilityBindAbilityButton .BindingRowButton {
    color: #879092;
    color: white;
    font-size: 15px;
    vertical-align: top;
    horizontal-align: left;
    text-align: left;
    background-color: transparent;
    padding-left: 4px;
    text-shadow: 0px 0px 3px 3.0 #000000;
    text-overflow: shrink;
}

.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton {
    color: #7A7A7A;
}

.IsDefaultHeroKeybinds.PerUnitKeybindsActive .HeroAbilityBindAbilityButton .BindingRowButton {
    color: white;
}

.PerUnitKeybindsActive.HasPerUnitKeybinds .HeroAbilityBindAbilityButton .BindingRowButton {
    color: white;
}

#ItemQuickcast .ItemBindButton {
    border: 2px solid #1d1e21;
}

.ItemBindButton {
    width: 96px;
    height: 79px;
    width: 84px;
    height: 69px;
    margin: 14px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    border: 2px solid #414a45;
}

.ItemBindButton .BindingRowLabel {
    background-color: transparent;
}

.ItemBindButton .BindingRowButton {
    background-color: transparent;
    vertical-align: top;
    horizontal-align: left;
    text-align: left;
    padding-left: 4px;
    font-size: 15px;
    transition-property: color;
    transition-duration: 0.16s;
    transition-timing-function: ease-in-out;
}

.SettingsKeyBinder.selected .ActiveBindButton {
    background-color: #1350a9;
    animation-name: BackgroundPulse;
    animation-duration: 1.35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.BindingRow:selected #LabelFXContainer {
    border: 2px solid #5c99ff;
    box-shadow: #5c99ff22 0px 0px 8px 0px;
}

.ItemBindButton.BindingRow:selected #LabelFXContainer,
.HeroAbilityBindAbilityButton.BindingRow:selected #LabelFXContainer {
    border: 0px solid transparent;
}

.SettingsKeyBinder.selected .ActiveBindFX {
    opacity: 1;
    transition-duration: 0.1s;
}

.HeroAbilityBindAbilityButton:selected,
.ItemBindButton:selected {
    background-color: #323836;
    border: 2px solid #5c99ff;
    padding-left: 0px;
    box-shadow: #5c99ff22 0px 0px 8px 0px;
}

#LabelFXContainer {
    background-color: #2b2f30;
    width: fill-parent-flow(0.3);
    height: 100%;
    horizontal-align: right;
    transition-property: box-shadow, background-color;
    transition-duration: 0.16s;
    transition-timing-function: ease-in-out;
}

.HeroAbilityBindAbilityButton #LabelFXContainer,
.ItemBindButton #LabelFXContainer {
    width: 30%;
}

.BindingRow:hover #LabelFXContainer {
    background-color: #393e3f;
}

.BindingRow:hover .BindingRowLabel {
    background-color: #2B2F30;
}

.BindingRow.HeroAbilityBindAbilityButton:hover .BindingRowLabel,
.BindingRow.ItemBindButton:hover .BindingRowLabel {
    background-color: transparent;
}

.BindingRow.HeroAbilityBindAbilityButton:hover #LabelFXContainer,
.BindingRow.ItemBindButton:hover #LabelFXContainer {
    background-color: transparent;
}

.HeroAbilityBindAbilityButton #LabelFXContainer,
.ItemBindButton #LabelFXContainer {
    width: 100%;
    background-color: none;
}

.ActiveBindFX {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.36s;
    transition-timing-function: ease-in-out;
}

@keyframes BackgroundPulse {
    0% {
        background-color: #1350a9;
    }

    50% {
        background-color: #021088;
    }

    100% {
        background-color: #1350a9;
    }
}

.ControlGroupRow .BindingRowLabel {
    width: 50%;
}

.ControlGroupRow #LabelFXContainer {
    width: 47%;
}

.DotaPlusSmallIcon {
    width: 18px;
    height: 18px;
    margin-right: 2px;
    padding-top: 4px;
}

#ItemsTPBindingContainer .ItemBindButton #BindingLabelContainer {
    padding-left: 6px;
    padding-top: 6px;
}

#ItemsNeutralSlotBindingContainer .ItemBindButton #BindingLabelContainer {
    padding-left: 6px;
    padding-top: 6px;
}

#ItemsTPBindingContainer .ItemBindButton .ClearKeybinding,
#ItemsNeutralSlotBindingContainer .ItemBindButton .ClearKeybinding {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-top: 8px;
}

.MoveSettingContainer {
    flow-children: down;
    width: 100%;
    height: 218px;
    transition-property: height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    .MoveSettingTop {
        // width: 100%;
        flow-children: right;
        horizontal-align: center;
    }

    .MoveSettingBottom {
        flow-children: right;
        horizontal-align: center;
    }

    .MoveSettingEnable {
        horizontal-align: center;
        visibility: collapse;
    }

    &.KeyboardMove {

        height: 109px;
    }

    &.KeyboardMove .MoveSettingTop,
    &.KeyboardMove .MoveSettingBottom {
        visibility: collapse;
    }

    &.KeyboardMove .MoveSettingEnable {
        visibility: visible;
    }
}

.KeyboardMoveCheckBox {
    horizontal-align: right;
}

.Special.Back {
    width: 84px;
}

#PopupSettings .SettingsTabSeparator {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 20px;
    color: #939da022;
    vertical-align: middle;
}

.DOTASettingsCheckbox {
    background-color: none;
    height: 40px;
    margin: -4px;

    .TickBox {
        width: 20px;
        height: 20px;
    }

    Label {
        font-size: 18px;
        color: #7d8688;
        vertical-align: center;
        margin: 0px;
        margin-left: 8px;
        padding-top: 4px;
        // padding-left: 5px;
        letter-spacing: 1px;
        font-weight: thin;
    }
}

.BottomNav {
    width: 100%;
    margin-top: -1px;
    vertical-align: bottom;
}

#ResetHotkeyButton {
    vertical-align: bottom;
    horizontal-align: left;
}

.SettingsSlider {
    flow-children: down;
}

#Title {
    width: fill-parent-flow(1.0);
}

#Slider {
    width: 100%;
    margin-bottom: 0px;
}

.SettingsSlider:disabled Label {
    color: #333333;
}

.SettingsSlider Label {
    color: #7d8688;
}

PopupSettings .SettingsSlider Label {
    font-size: 18px;
    color: #7d8688;
    vertical-align: center;
    margin: 0px;
    padding-top: 4px;
    padding-left: 5px;
    letter-spacing: 1px;
    font-weight: thin;
}

#dota_minimap_hero_size Slider,
#CameraSpeedSlider Slider {
    margin-bottom: 0px;
}

.SliderTick {
    width: 4px;
    height: 14px;
    background-color: #3B4242;
    z-index: -1;
}

.OptionsCheckBox {
    // padding-top: 12px;
    // padding-bottom: 12px;
    height: 32px;
}

.OptionsCheckBox Label {
    vertical-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 8px;
    font-size: 18px;
    color: #7d8688;
}

RadioButton>.RadioBox {
    vertical-align: center;
}
