.CC_DividerLine {
    background-size: 100%;

    &.Horizontal {
        width: 100%;
        height: 6px;
    }

    &.Vertical {
        width: 6px;
        height: 100%;
    }

    &.Default {
        background-image: url("file://{images}/custom_game/tooltip/divider_vertical.png.png");
    }
}
