.CCScrollImageNumber {
    .NumberBox {
        // clip: rect(0%, 50%, 0%, 50%);
        animation-name: numberscroll;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &.NumberScrollFinish0 {
            animation-name: numberscroll0;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish1 {
            animation-name: numberscroll1;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish2 {
            animation-name: numberscroll2;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
            overflow: noclip;
        }

        &.NumberScrollFinish3 {
            animation-name: numberscroll3;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish4 {
            animation-name: numberscroll4;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish5 {
            animation-name: numberscroll5;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish6 {
            animation-name: numberscroll6;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish7 {
            animation-name: numberscroll7;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish8 {
            animation-name: numberscroll8;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }

        &.NumberScrollFinish9 {
            animation-name: numberscroll9;
            animation-duration: 0.5s;
            animation-iteration-count: 1;
        }
    }
}


@keyframes numberscroll {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-900%);
    }
}

@keyframes numberscroll0 {
    to {
        transform: translateY(0%);
    }
}

@keyframes numberscroll1 {
    to {
        transform: translateY(-100%);
    }
}

@keyframes numberscroll2 {
    to {
        transform: translateY(-200%);
    }
}

@keyframes numberscroll3 {
    to {
        transform: translateY(-300%);
    }
}

@keyframes numberscroll4 {
    to {
        transform: translateY(-400%);
    }
}

@keyframes numberscroll5 {
    to {
        transform: translateY(-500%);
    }
}

@keyframes numberscroll6 {
    to {
        transform: translateY(-600%);
    }
}

@keyframes numberscroll7 {
    to {
        transform: translateY(-700%);

    }
}

@keyframes numberscroll8 {
    to {
        transform: translateY(-800%);
    }
}

@keyframes numberscroll9 {
    to {
        transform: translateY(-900%);
    }
}