.CC_ProgressBar {
    border-radius: 5px;
    width: 320px;
    height: 22px;
    border: 2px solid #232222;
    background-color: #222222ff;

    .CC_ProgressBar_Left {
        height: 100%;
        background-color: gradient(linear, 60% 0%, 0% 100%, from(#b6261f), to(#65211b));
        border-radius: 3px;
        border-top: 1px solid rgba(255, 255, 255, 0.18);
        transition-property: position, width;
        transition-duration: 0.6s;
    }

    .CC_ProgressBar_Right {
        height: 100%;
        background-color: gradient(linear, 0% 0%, 100% 0%, from(#222222ff), color-stop(0.1, #222222ff), to(black));
        horizontal-align: right;
        transition-property: position, width;
        transition-duration: 0.6s;
        z-index: -1;
    }
}
