#CC_DOTAScenePanel {
    width: 200px;
    height: 200px;

    .DOTASceneSelectLightBg {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("file://{images}/custom_game/eom_design/ccdotascenepanel/guangzhao.png");
    }

    .DOTASceneSelectLight {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url("file://{images}/custom_game/eom_design/ccdotascenepanel/guangzhao2.png");
    }

    .CCDOTAScenePanel {
        width: 100%;
        height: 100%;
    }
}