.CCRankSingleDataItem {
    width: 400px;
    height: 50px;
    border: 1px solid #62758B;
    flow-children: right;

    #playerAvatar {}

    #PlayerName {
        vertical-align: center;
    }

    #RankDes {
        vertical-align: center;
    }
}