.CCRankIconItem {
    flow-children: down;

    #RankIcon {
        width: 30px;
        height: 30px;
        horizontal-align: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        z-index: 1;
    }

    #RankDes {
        align: center bottom;
        font-size: 14px;
        color: #FF8E61;
        text-shadow: 0px 0px 1px 2 #000000;
    }
}