.CCGameEndPanel {
    align: center center;
    width: 800px;
    height: 600px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    &.PopUpEffect {
        opacity: 1;
    }
}