.CCPlayerEndPanel {
    align: center center;
    width: 1000px;
    height: 600px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;

    &.PopUpEffect {
        opacity: 1;
    }

    #CCRecordAvatar {
        width: 126px;
        height: 126px;
        border: 2px solid #111111FF
    }

    #RecordVipIcon {
        width: 100px;
        height: 100px;
        z-index: 5;
        margin-top: 30px;
        horizontal-align: center;
        saturation: 0;

        &:Hover {
            brightness: 2;
        }


        & .IsVip {
            saturation: 1;
        }

    }

    #RecordBattlePassIcon {
        width: 100px;
        height: 100px;
        z-index: 5;
        margin-top: 30px;
        horizontal-align: center;

        &:Hover {
            brightness: 2;
        }

    }


    #BattleRecordTongJi {
        height: 30px;
        background-image: url("file://{images}/custom_game/hud/player_battle_bg_right2.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.CCHeroExpProgressItem {
    flow-children: right;
    border: 1px solid #62758B;

    .CardLevelBar {
        width: 100px;
        height: 18px;
        vertical-align: center;
        background-color: #000000;
        border-radius: 4px;

        .ProgressBarLeft {
            border-top-width: 0px;
            background-color: gradient(linear, 0% 0%, 0% 100%, from(#BB590A), color-stop(0.75, #EDA931), to(#FFEB8F));
            border-radius: 4px;
        }

        &>Label {
            align: center center;
            font-size: 16px;
            color: #FFFFFF;
            text-overflow: shrink;
            text-shadow: 0px 0px 1px 2 #000000;
        }
    }
}