.CC_ShopSellDetailDialog {
    align: center center;

    #PopUpBg {
        width: 800px;
        height: 420px;
        padding: 7px;

        #ShopDetailDesc {
            height: 80px;
            width: 400px;
            // margin-left: 358px;
            // margin-top: 60px;
            color: #FFF;
            font-size: 20px;
            overflow: squish scroll;
        }

        #NumberEntry {
            align: center top;
            // margin-right: 150px;
            margin-top: 88px;
            flow-children: right;

            #NumberAdd,
            #NumberReduce {
                width: 43px;
                height: 43px;
                vertical-align: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;

                &:enabled {}

                &:disabled {
                    saturation: 0;
                    brightness: .4;
                }
            }

            #NumberAdd {
                background-image: url("file://{images}/custom_game/shop/btn_add.png");
            }

            #NumberReduce {
                background-image: url("file://{images}/custom_game/shop/btn_reduce.png");
            }

            TextEntry {
                width: 100px;
                margin: 0px 8px;
                vertical-align: center;
            }
        }

        .BuyButton {
            width: 180px;
            height: 51px;
            align: center top;
            // margin-right: 160px;
            margin-top: 20px;
            flow-children: right;
            background-image: url("file://{images}/custom_game/shop/btn_free.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;


            &:disabled {
                saturation: 0;
                brightness: .5;
            }

            Label {
                align: center center;
                font-size: 16px;
                color: #FFFFFF;
                text-shadow: 0px 0px 1px 2 rgba(0, 0, 0, 0.6);
            }

            &.RMBBtn {
                background-image: url("file://{images}/custom_game/shop/btn_money.png");
            }

            &.FreeBtn {
                background-image: url("file://{images}/custom_game/shop/btn_free.png");
            }

            &.MetaBtn {
                background-image: url("file://{images}/custom_game/shop/btn_meta.png");

                &.PriceNotEnought {
                    Label {
                        color: red;
                    }
                }

                #MoonWithNum {
                    align: center center;
                    flow-children: right;

                    Label {
                        margin-left: 6px;
                    }
                }
            }

            &.StarBtn {
                #StarWithNum {
                    align: center center;
                    flow-children: right;

                    Label {
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}