.CC_Loading {
    width: 100%;
    height: 100%;

    #loadingBg {
        width: 100%;
        height: 100%;
        background-image: url("file://{images}/custom_game/allspehud/loading/loading.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}
