.Res_image_398 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/bg.png");
}

.Res_image_399 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/center.png");
}

.Res_image_400 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/center_bottom.png");
}

.Res_image_401 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/center_top.png");
}

.Res_image_402 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/division_long.png");
}

.Res_image_403 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/division_short.png");
}

.Res_image_404 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/left_bottom.png");
}

.Res_image_405 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/left_center.png");
}

.Res_image_406 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/left_top.png");
}

.Res_image_407 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/popup_bg.png");
}

.Res_image_408 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/popup_title_bg.png");
}

.Res_image_409 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/rectangle_1.png");
}

.Res_image_410 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/rectangle_2.png");
}

.Res_image_411 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/rectangle_3.png");
}

.Res_image_412 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/rectangle_4.png");
}

.Res_image_413 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/right_bottom.png");
}

.Res_image_414 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/right_center.png");
}

.Res_image_415 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/right_top.png");
}

.Res_image_416 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui7/trangle.png");
}