.CC_TipsPanel {
    width: fit-children;
    height: fit-children;
    align: center bottom;
    margin-bottom: 200px;
    opacity: 0;

    &.ShowTip {
        opacity: 1;
    }

    #TipsDes {
        font-size: 40;
        color: white;
    }
}