// 图片数字
.CC_ImageNumber1 {
    // width: 17px;
    height: 24px;
    flow-children: right;

    .CC_NUM {
        width: height-percentage(70.8%);
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;

        transition-property: background-image;
        transition-duration: 0.25s;
    }

    .CC_NUM_0 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/0.png");
        background-size: 100% 91.7%;
    }

    .CC_NUM_1 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/1.png");
        background-size: 47% 91.7%;
    }

    .CC_NUM_2 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/2.png");
        background-size: 88.2% 95.8%;
    }

    .CC_NUM_3 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/3.png");
        background-size: 82.4% 95.8%;
    }

    .CC_NUM_4 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/4.png");
        background-size: 100% 91.7%;
    }

    .CC_NUM_5 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/5.png");
        background-size: 88.2% 100%;
    }

    .CC_NUM_6 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/6.png");
        background-size: 94.1% 91.7%;
    }

    .CC_NUM_7 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/7.png");
        background-size: 94.1% 91.7%;
    }

    .CC_NUM_8 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/8.png");
        background-size: 88.2% 95.8%;
    }

    .CC_NUM_9 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_1/9.png");
        background-size: 94.1% 91.7%;
    }
}

.CC_ImageNumber2 {
    // width: 17px;
    height: 24px;
    flow-children: right;

    .CC_NUM {
        width: height-percentage(84.8%);
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;

        transition-property: background-image;
        transition-duration: 0.25s;
    }

    .CC_NUM_0 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/0.png");
        background-size: 100% 91.7%;
    }

    .CC_NUM_1 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/1.png");
        background-size: 47% 91.7%;
    }

    .CC_NUM_2 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/2.png");
        background-size: 88.2% 95.8%;
    }

    .CC_NUM_3 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/3.png");
        background-size: 82.4% 95.8%;
    }

    .CC_NUM_4 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/4.png");
        background-size: 100% 91.7%;
    }

    .CC_NUM_5 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/5.png");
        background-size: 88.2% 100%;
    }

    .CC_NUM_6 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/6.png");
        background-size: 94.1% 91.7%;
    }

    .CC_NUM_7 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/7.png");
        background-size: 94.1% 91.7%;
    }

    .CC_NUM_8 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/8.png");
        background-size: 88.2% 95.8%;
    }

    .CC_NUM_9 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_2/9.png");
        background-size: 94.1% 91.7%;
    }
}

.CC_ImageNumber3 {
    // width: 17px;
    height: 24px;
    flow-children: right;

    .CC_NUM {
        width: height-percentage(81.5%);
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;

        transition-property: background-image;
        transition-duration: 0.25s;
    }

    .CC_NUM_0 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/0.png");
        background-size: 100% 100%;
    }

    .CC_NUM_1 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/1.png");
        background-size: 100% 100%;
        width: height-percentage(55%);
    }

    .CC_NUM_2 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/2.png");
        background-size: 100% 100%;
    }

    .CC_NUM_3 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/3.png");
        background-size: 100% 100%;
    }

    .CC_NUM_4 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/4.png");
        background-size: 100% 100%;
    }

    .CC_NUM_5 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/5.png");
        background-size: 100% 100%;
    }

    .CC_NUM_6 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/6.png");
        background-size: 100% 100%;
    }

    .CC_NUM_7 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/7.png");
        background-size: 100% 100%;
    }

    .CC_NUM_8 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/8.png");
        background-size: 100% 100%;
    }

    .CC_NUM_9 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_3/9.png");
        background-size: 100% 100%;
    }
}

.CC_ImageNumber4 {
    // width: 17px;
    height: 24px;
    flow-children: right;

    .CC_NUM {
        width: height-percentage(77.78%);
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
    }

    .CC_NUM_0 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/0.png");
    }

    .CC_NUM_1 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/1.png");
    }

    .CC_NUM_2 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/2.png");
    }

    .CC_NUM_3 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/3.png");
    }

    .CC_NUM_4 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/4.png");
    }

    .CC_NUM_5 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/5.png");
    }

    .CC_NUM_6 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/6.png");
    }

    .CC_NUM_7 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/7.png");
    }

    .CC_NUM_8 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/8.png");
    }

    .CC_NUM_9 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_4/9.png");
    }
}

.CC_ImageNumber5 {
    // width: 17px;
    height: 24px;
    flow-children: right;

    .CC_NUM {
        width: height-percentage(73.81%);
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
    }

    .CC_NUM_0 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/0.png");
    }

    .CC_NUM_1 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/1.png");
    }

    .CC_NUM_2 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/2.png");
    }

    .CC_NUM_3 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/3.png");
    }

    .CC_NUM_4 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/4.png");
    }

    .CC_NUM_5 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/5.png");
    }

    .CC_NUM_6 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/6.png");
    }

    .CC_NUM_7 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/7.png");
    }

    .CC_NUM_8 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/8.png");
    }

    .CC_NUM_9 {
        background-image: url("file://{images}/custom_game/eom_design/image_number/type_5/9.png");
    }
}