#CC_PublicBag {
    flow-children: down;

    #CustomPublicBag {
        flow-children: right-wrap;
    }
}


#CC_PersonBag {
    flow-children: down;

    #CustomPersonBag {
        flow-children: right-wrap;
    }
}




#CC_EquipCombine {
    horizontal-align: center;
    margin-top: 16px;
    flow-children: down;

    #EquipCombineFrom {
        horizontal-align: center;
        margin-top: 16px;
        flow-children: right;
    }

    #EquipCombineLines {
        width: 161px;
        height: 37px;
        horizontal-align: center;
        margin-top: -5px;
        margin-left: 4px;
        z-index: -1;

        background-image: url("file://{images}/custom_game/publicshopbag/combine_line.png");
        background-position: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
    }


    #ToggleBtns {
        horizontal-align: center;
        margin-top: 4px;
        flow-children: right;

    }


    .CC_PublicBagSlotItem {
        width: 55px;
        margin: 0px 21px;
    }
}

#CC_GoldShop {
    flow-children: down;

    #GoldShopContainer {
        flow-children: right-wrap;
    }
}

#CC_WoodShop {
    flow-children: down;

    #WoodShopContainer {
        flow-children: right-wrap;
    }
}

#CC_RandomShop {
    flow-children: down;

    #RandomShopContainer {
        flow-children: right-wrap;

        #RandomShopLock {
            align: center center;
            flow-children: down;
        }

        #RandomShopList {
            max-width: 350px;
            horizontal-align: center;
            overflow: squish scroll;
            flow-children: right-wrap;
            saturation: 0;
            blur: gaussian(2.5);

            .ShopItem {
                margin: 8px;
            }
        }

        &.Unlock {
            #RandomShopLock {
                visibility: collapse;
            }

            #RandomShopList {
                saturation: 1;
                blur: gaussian(0);
            }
        }
    }


    #RandomShopTime {
        width: 100%;
        max-height: 22px;
        margin-top: 8px;
        text-align: center;
        font-size: 16px;
        color: #B47740;
        text-shadow: 0px 0px 2px 4 rgba(0, 0, 0, 0.7);
        text-overflow: shrink;
    }
}



#CC_PublicShopBagPanel {
    align: right bottom;
    margin-bottom: 220px;
    margin-right: 0px;
    flow-children: left;

    transform: translateX(724px);
    opacity: 0;
    transition: transform 0.3s ease-in-out 0s, opacity 0.25s ease-in-out 0s;

    &.ShowPublicShopBag {
        opacity: 1;
        transform: translateY(0px);
    }

    #ShopLeft {
        width: 360px;
        height: 712px;
        flow-children: down;
    }

    #ShopRight {
        width: 298px;
        height: 712px;
        padding-top: 36px;
        flow-children: down;
    }
}
