.Res_image_442 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/arrow_blue.png");
}

.Res_image_443 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/arrow_green.png");
}

.Res_image_444 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/btn_add.png");
}

.Res_image_445 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/btn_close.png");
}

.Res_image_446 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/btn_reduce.png");
}

.Res_image_447 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/checkbox_off.png");
}

.Res_image_448 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/checkbox_on.png");
}

.Res_image_449 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/check_off.png");
}

.Res_image_450 {
    background-image:url("file://{images}/custom_game/eom_design/icon/style1/check_on.png");
}