.CCUnitStatsDialog {
    background-color: black;
    flow-children: down;
    padding: 0px;
    border: 0px;


    #unitStatsTopMain {
        width: 540px;
        height: 250px;
        flow-children: right;
    }

    .SecondaryContainer {
        width: 270px;
        height: 100%;
        border-top: 4px solid black;
        border-right: 6px solid black;
        border-bottom: 5px solid black;
        border-left: 3px solid black;
        padding: 8px;
        background-color: gradient(linear, 0% 100%, 0% 0%, from(#1b1b1b), to(#000));
    }

    .ContainerHeader {
        font-size: 20px;
        horizontal-align: center;
        color: white;
        letter-spacing: 2px;
        font-weight: bold;
        color: #656565;
        margin-bottom: 5px;
    }

    .StatRow {
        height: 20px;
    }

    .StatName {
        font-weight: normal;
        horizontal-align: left;
        font-size: 16px;
        margin-left: 8px;
        color: #a2a2a2;
    }

    .BaseValue {
        color: white;
        text-align: left;
        margin-left: 140px;
        font-size: 16px;
        text-overflow: shrink;
    }

    .AdditionalValue {
        width: fill-parent-flow(1);
        margin-left: 0px;
        text-overflow: shrink;
    }

    .BonusValue {
        color: #3ed038;
        font-size: 16px;
        text-overflow: shrink;
    }

    .NegativeValue .BonusValue {
        color: red;
    }

    .NoBonus .BonusValue {
        // visibility: collapse;
    }

    #PhysicalDamagePercent {
        color: #ae2f28;
    }

    #MagicalDamagePercent {
        color: #5b93d1;
    }

    #PureDamagePercent {
        color: #d8ae53;
    }

    #PrimaryTipContainer {
        width: 540px;
        min-height: 40px;
        horizontal-align: center;
        padding: 8px;
        visibility: collapse;

        &.Hero {
            visibility: visible;
        }

        #PrimaryTip {
            align: left center;
            color: #fdcc62;
        }
    }

    #AttributesContainer {
        height: 240px;
        width: 540px;
        // visibility: collapse;
    }

    .Hero #AttributesContainer {
        visibility: visible;
    }

    .AttributeRow {
        height: fill-parent-flow(32.0);
        width: 100%;
        padding: 5px;
    }


    .AttributeRow.PrimaryAttribute {
        height: fill-parent-flow(36.0);
    }

    #StrengthContainer.AttributeRow.PrimaryAttribute {
        background-color: gradient(linear, 100% 0%, 0% 0%, from(#000), to(#380f01));
        margin-left: 6px;
        height: fill-parent-flow(45.0);
    }

    #AgilityContainer.AttributeRow.PrimaryAttribute {
        background-color: gradient(linear, 100% 0%, 0% 0%, from(#000), to(#09360b));
        margin-left: 6px;
    }

    #IntellectContainer.AttributeRow.PrimaryAttribute {
        background-color: gradient(linear, 100% 0%, 0% 0%, from(#000), to(#003237));
        margin-left: 6px;
        margin-bottom: 6px;
    }

    .AttributeIcon {
        width: 32px;
        height: 32px;
        horizontal-align: left;
        vertical-align: top;
        margin-left: 8px;
        background-size: 100%;
        margin-top: 2px;
    }

    #StrengthIcon {
        background-image: url("file://{images}/custom_game/eom_design/ccunitstats/primary_attribute_icon_strength.png");
    }

    #AgilityIcon {
        background-image: url("file://{images}/custom_game/eom_design/ccunitstats/primary_attribute_icon_agility.png");
    }

    .ColorBlindModeEnabled #AgilityIcon {
        background-image: url("file://{images}/custom_game/eom_design/ccunitstats/primary_attribute_icon_agility_colorblind.png");
    }

    #IntellectIcon {
        background-image: url("file://{images}/custom_game/eom_design/ccunitstats/primary_attribute_icon_intelligence.png");
    }

    .AttributeDetails {
        width: 100%;
        padding-top: 8px;
        margin-left: 8px;
    }

    .BaseAttributeValue {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    .BonusAttributeValue {
        color: #3ed038;
        font-size: 18px;
        font-weight: bold;
    }

    .TotalAttributeValue {
        font-size: 18px;
        color: white;
        font-weight: bold;
    }

    .NegativeValue .BonusAttributeValue {
        color: #ec3d06;
        font-size: 18px;
        font-weight: bold;
    }

    .NoBonus .BonusAttributeValue {
        // visibility: collapse;
    }

    .AttributeGain {
        font-size: 16px;
        margin-top: 2px;
        margin-left: 5px;
    }

    .PrimaryAttributeBonus {
        color: #ec3d06;
        // visibility: collapse;
        font-size: 16px;
    }


    #AgilityContainer .PrimaryAttributeBonus {
        color: #3ed038;
    }

    #IntellectContainer .PrimaryAttributeBonus {
        color: #00d9ec;
    }


    .PrimaryAttribute .PrimaryAttributeBonus {
        visibility: visible;
    }

    .StatBreakdownLabel {
        font-size: 16px;
    }

    .ShowBonusDamage #DamageBonus,
    .ShowBonusAttackSpeed #AttackSpeedBonus,
    .ShowBonusAttackRange #RangeBonus,
    .ShowBonusSpellAmp #SpellAmpBonus,
    .ShowBonusManaRegen #ManaRegenBonus,
    .ShowBonusHealthRegen #HealthRegenBonus,
    .ShowBonusArmor #ArmorBonus,
    .ShowBonusPhysicalResistance #PhysicalResistBonus,
    .ShowBonusMagicResistance #MagicResistBonus {
        visibility: visible;
    }

    #BottomArrow {
        wash-color: black;
    }


    #AbilityDraftHeroStatsTooltip #AttackSpeedRow {
        flow-children: right;
    }

    .ShowBonusArmor #ArmorBonus,
    .ShowBonusPhysicalResistance #PhysicalResistBonus,
    .ShowBonusMagicResistance #MagicResistBonus {
        visibility: visible;
    }

    #BottomArrow {
        wash-color: black;
    }


    #AbilityDraftHeroStatsTooltip #AttackSpeedRow {
        flow-children: right;
    }

    #HeroAttackContainer,
    #FriendlySummonContainer {
        width: 300px;
    }

    #HeroOtherContainer {
        width: 240px;
    }

    #DamageIcon {
        width: 14px;
        height: 14px;
        margin-left: 8px;
        background-image: url("file://{images}/custom_game/eom_design/ccunitstats/icon_props_damage.png");
        background-repeat: no-repeat;
        background-size: cover;
        wash-color: #f31f1f;
    }

    #DamageLabel {
        margin-left: 24px;
    }

    #SpellAmpIcon {
        width: 14px;
        height: 14px;
        margin-left: 6px;
        margin-top: 1px;
        background-image: url("file://{images}/custom_game/eom_design/ccunitstats/icon_props_staff.png");
        background-size: 18px 13px;
        background-repeat: no-repeat;
        wash-color: #3698f3;
        img-shadow: 1px 1px 2.5px 2 #222;
        background-position: center center;
    }


    #SpellAmpLabel {
        margin-left: 22px;
    }








}