#CC_UnitDamageInfo {
    max-height: 520px;
    vertical-align: top;
    horizontal-align: right;
    margin-top: 50px;
    flow-children: down;
    padding-left: 12px;

    #CC_tableBg {
        horizontal-align: right;
        margin-right: 0px;
        background-image: url("file://{images}/custom_game/hud/button_item_operate.png");
        background-size: 193px 29px;
        width: 170px;
        height: 29px;
    }

    VerticalScrollBar {
        horizontal-align: left;
        margin-left: 4px;
        margin-top: 6px;
        margin-bottom: 6px;
    }
}

#CC_UnitDamageProgressItem {
    flow-children: right;
    margin-top: 8px;
    margin-left: 4px;

    .TowerDamageBar {
        width: 180px;
        vertical-align: center;

        border-radius: 0px;
        border-width: 0px;
        background-color: transparent;

        margin-left: 4px;

        .TotalDamage {
            vertical-align: top;
            horizontal-align: right;
            margin-right: 30px;
            margin-bottom: 2px;
            text-align: center;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            text-shadow: 0px 0px 3px 3 #000000;
        }

        .TowerDamageBar_Left {
            border: 1px solid #000000;
            border-radius: 6px;
            vertical-align: bottom;
            horizontal-align: right;
            margin-right: 0px;
            flow-children: right;

            .DamageLabel {
                height: 10px;
                vertical-align: center;
                color: #FFFFFF;
                text-shadow: 0px 0px 0px 2 black;
                text-align: center;
                text-overflow: shrink;
                border-radius: 2px;
            }

            #PhysicalDamage {
                background-color: #FF7B7B;
            }

            #MagicalDamage {
                background-color: #8ec0ef;
            }

            #PureDamage {
                background-color: #efd88e;
            }
        }
    }


}