#CC_PausePanel {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;

    &.Paused {
        opacity: 1;
    }

    #CC_PausePausing {
        align: center center;
        margin-bottom: 200px;
        font-size: 25px;
        color: #FF3333;
    }

    #CC_PauseIntervalTip {
        align: center center;
        background-color: #000000EE;
    }

}
