.Res_image_388 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/center.png");
}

.Res_image_389 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/center_bottom.png");
}

.Res_image_390 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/center_top.png");
}

.Res_image_391 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/left_bottom.png");
}

.Res_image_392 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/left_center.png");
}

.Res_image_393 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/left_top.png");
}

.Res_image_394 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/logo.png");
}

.Res_image_395 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/right_bottom.png");
}

.Res_image_396 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/right_center.png");
}

.Res_image_397 {
    background-image:url("file://{images}/custom_game/eom_design/ccpopupdialog/tui3/right_top.png");
}