.Res_image_464 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/activity51.png");
}

.Res_image_465 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/arrow_left.png");
}

.Res_image_466 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/arrow_right.png");
}

.Res_image_467 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/artifact.png");
}

.Res_image_468 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/artifact_old.png");
}

.Res_image_469 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/box_2001001.png");
}

.Res_image_470 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/box_2002001.png");
}

.Res_image_471 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/bp_xp.png");
}

.Res_image_472 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/btn_add.png");
}

.Res_image_473 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/btn_add_plus.png");
}

.Res_image_474 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/btn_close.png");
}

.Res_image_475 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/btn_endcheck.png");
}

.Res_image_476 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/btn_submit.png");
}

.Res_image_477 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/btn_sub_plus.png");
}

.Res_image_478 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/coin.png");
}

.Res_image_479 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/confirm.png");
}

.Res_image_480 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/cosmetic_combine.png");
}

.Res_image_481 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/cosmetic_exchange.png");
}

.Res_image_482 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/cosmetic_harvest.png");
}

.Res_image_483 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/crystal.png");
}

.Res_image_484 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/draw.png");
}

.Res_image_485 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/empty_slot.png");
}

.Res_image_486 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/eom_logo.png");
}

.Res_image_487 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/eom_logo_v2.png");
}

.Res_image_488 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/equipment.png");
}

.Res_image_489 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/exclamation_mark.png");
}

.Res_image_490 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/exclamation_mark_small.png");
}

.Res_image_491 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/free_bar.png");
}

.Res_image_492 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/full_slot.png");
}

.Res_image_493 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/gold.png");
}

.Res_image_494 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/handbook.png");
}

.Res_image_495 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/hero_icon_bg.png");
}

.Res_image_496 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/history.png");
}

.Res_image_497 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/icon_courierexp.png");
}

.Res_image_498 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/icon_heroexp.png");
}

.Res_image_499 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/info.png");
}

.Res_image_500 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/left_right_arrow.png");
}

.Res_image_501 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/lock.png");
}

.Res_image_502 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/lock_mini.png");
}

.Res_image_503 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/logo_nanchuan.png");
}

.Res_image_504 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/menu_reward.png");
}

.Res_image_505 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/mini_info.png");
}

.Res_image_506 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/moon.png");
}

.Res_image_507 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/new.png");
}

.Res_image_508 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/next_round.png");
}

.Res_image_509 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/notice.png");
}

.Res_image_510 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/notification_base.png");
}

.Res_image_511 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/notification_fish.png");
}

.Res_image_512 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/notification_normal.png");
}

.Res_image_513 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/pearl.png");
}

.Res_image_514 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/player_xp.png");
}

.Res_image_515 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/plus_large.png");
}

.Res_image_516 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/plus_small.png");
}

.Res_image_517 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/power.png");
}

.Res_image_518 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/property.png");
}

.Res_image_519 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/random_ability_stone.png");
}

.Res_image_520 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rank.png");
}

.Res_image_521 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_n.png");
}

.Res_image_522 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_n_2.png");
}

.Res_image_523 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_n_3.png");
}

.Res_image_524 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_r.png");
}

.Res_image_525 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_r_2.png");
}

.Res_image_526 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_r_3.png");
}

.Res_image_527 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_sr.png");
}

.Res_image_528 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_sr_2.png");
}

.Res_image_529 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_sr_3.png");
}

.Res_image_530 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_ssr.png");
}

.Res_image_531 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_ssr_2.png");
}

.Res_image_532 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rarity_ssr_3.png");
}

.Res_image_533 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/reward.png");
}

.Res_image_534 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/rewards.png");
}

.Res_image_535 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/score.png");
}

.Res_image_536 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/setting.png");
}

.Res_image_537 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/shard.png");
}

.Res_image_538 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/star.png");
}

.Res_image_539 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/star_2_full_icon.png");
}

.Res_image_540 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/star_empty_icon.png");
}

.Res_image_541 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/star_full_icon.png");
}

.Res_image_542 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/store.png");
}

.Res_image_543 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/task.png");
}

.Res_image_544 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/task_point.png");
}

.Res_image_545 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/vip.png");
}

.Res_image_546 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/vip_large.png");
}

.Res_image_547 {
    background-image:url("file://{images}/custom_game/eom_design/icon/tui7/vip_zodiac.png");
}