#CC_TopBarPanel {
    width: 1400px;
    height: 140px;
    margin-top: 0px;

    #TopBarBg {
        width: 1400px;
        height: 50px;
        background-color: #000000;
        margin-top: 35px;
        background-repeat: no-repeat;
    }

    #ImageMoney {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-image: url("file://{images}/common/money.png");
        background-size: 100% 100%;
    }

    #ImagePolulation {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-image: url("file://{images}/common/population_png.png");
        background-size: 100% 100%;
    }

    #ImageFood {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-image: url("file://{images}/common/food_png.png");
        background-size: 100% 100%;
    }

    #ImageWood {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-image: url("file://{images}/common/wood_png.png");
        background-size: 100% 100%;
    }
}
